<body>
  <div class="main">
    <div class="Brand">
      <span>E</span>
      <span>V</span>
      <span>E</span>
      <span>N</span>
      <span>T</span>
      <span>O</span>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponser-login">Sponser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="user-login">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Admin</a>
          </li>
        </ul>
        <h2>Organize,Collaboration,Sponser</h2>
      </div>
    </div>
  </nav>

  <hr class="solid" />
  <h3 style="color: white">Our Sponsers</h3>
  <hr class="solid" />
  <table>
    <tr>
      <td>
        <img src="../assets/amazon.jpeg" width="528" height="300" />
      </td>
      <td>
        <img src="../assets/mahindra.jpeg" width="528" height="300" />
      </td>
      <td>
        <img src="../assets/siemens.jpeg" width="528" height="300" />
      </td>
    </tr>
    <tr>
      <td>
        <img src="../assets/tata.jpeg" width="528" height="300" />
      </td>
      <td>
        <img src="../assets/tcs.jpeg" width="528" height="300" />
      </td>
      <td>
        <img src="../assets/wipro.jpeg" width="528" height="300" />
      </td>
    </tr>
  </table>

  <hr class="solid" />
  <h3 style="color: white">Recent Events</h3>
  <hr class="solid" />
  <table>
    <tr>
      <td>
        <img src="../assets/eve1.jpeg" width="528" height="300" />
      </td>
      <td>
        <img src="../assets/2.jpeg" width="528" height="300" />
      </td>
      <td>
        <img src="../assets/3.jpeg" width="528" height="300" />
      </td>
    </tr>
    <tr>
      <td>
        <img src="../assets/4.jpeg" width="528" height="300" />
      </td>
      <td>
        <img src="../assets/5.jpeg" width="528" height="300" />
      </td>
      <td>
        <img src="../assets/66.jpeg" width="528" height="300" />
      </td>
    </tr>
  </table>
</body>
